/*--------------------------------------------------------------
# ACF WYSIWYG
--------------------------------------------------------------*/
.acf-input .acf-editor-wrap iframe {
    min-height: 56px;
}

/*--------------------------------------------------------------
# ACF Character Counter
--------------------------------------------------------------*/
.ks-char-count {
    margin: 0;
    color: #666;
    font-size: 13px;
    font-style: italic;
    text-align: right;
}

/*--------------------------------------------------------------
# Media Modal
--------------------------------------------------------------*/
.media-modal .media-menu #menu-item-gallery,
.media-modal .media-menu #menu-item-playlist,
.media-modal .media-menu #menu-item-video-playlist {
    display: none !important;
}

/*--------------------------------------------------------------
# Gravity Forms
--------------------------------------------------------------*/
/* Form Settings */
#tab_settings #gform_setting_markupVersion {
    display: none !important;
}
/* Confirmation Settings */
#tab_confirmation #gform_setting_disableAutoformat,
#tab_confirmation #wp-_gform_setting_message-media-buttons {
    display: none !important;
}
